body {
	font-family: helvetica;
	color: white;
	background-color: black;
}

#welcomeHeader {
	padding: 5px;
	color: black !important;
	position: fixed;
	left: auto;
	right: auto;
	top: 0px;
	right: auto;
	text-align: center;
}

#headerBack {
	background-color: white;
	width: 100%;
	height: 50px;
}